<div class="navbar-fixed">
<nav class="white blue-text z-depth-0">
    <ul id="slide-out" class="side-nav">
        <li><a href="{{ site.baseurl }}/" class="blue-text">Home</a></li>
        <li><a href="{{ "/get-started" | prepend: site.baseurl }}" class="blue-text">Get Started</a></li>
        <li><a href="https://forum.moderntld.net/" class="blue-text">Support</a></li>
        <li><a href="{{ "/infrastructure" | prepend: site.baseurl }}" class="blue-text">Infrastructure</a></li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}" class="blue-text">About</a></li>
        <li><a href="https://blog.moderntld.com/" class="blue-text">News</a></li>
    </ul>
    <div class="container container-large">
    <a class="brand-logo" href="{{ site.baseurl }}/" class="blue-text"><span class="light blue-text">{{ site.logo }}</span></a>
    <ul class="right hide-on-med-and-down">
	<li><a href="{{ "/get-started" | prepend: site.baseurl }}" class="blue-text">Get Started</a></li>
	<li><a href="https://forum.moderntld.net/" target="_blank" class="blue-text">Support</a></li>
  <li><a href="{{ "/infrastructure" | prepend: site.baseurl }}" class="blue-text">Infrastructure</a></li>
	<li><a href="{{ "/about" | prepend: site.baseurl }}" class="blue-text">About</a></li>
	<li><a href="https://blog.moderntld.com/" class="blue-text">News</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse right blue-text"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>
